---
import Icon from "@/components/Icon.astro";
import Font from "@/components/Font.astro";
import LoveDiary from "@/components/LoveDiary.astro";
import MusicPlayer from "@/components/MusicPlayer.astro";
import '@/home.css';
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Icon />
        <Font />
        <title>MyMiah</title>
    </head>
    <body>
        <h1>Our diary</h1>
        <LoveDiary />
        <MusicPlayer />
    </body>  
</html>