---
import '@/style.css';
import Icon from '@/components/Icon.astro';
import IndexJS from '@/other/IndexJS.astro';
import FontIn from '@/components/FontIn.astro';
---
<! doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<Icon />
		<FontIn />
		<title> My Miah </title>
	</head>
	<body>
		<IndexJS />
		<div>
			<h1 class="one love-reg">Hi My Love</h1>
			<h2 class="two love-reg">Happy Valentines Day ❤️</h2>
		</div>
		<div id="test"></div>
	</bidy>
</html>