---
import "@/style.css";
import Icon from "@/components/Icon.astro";
import { useState } from 'preact/hooks';

import Font from "@/components/Font.astro";

const correctPassword = "110809";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<Icon />
		<Font />
		<title>MyMiah</title>
	</head>
	<body>
		<div class="container">
			<h1 class="ooo">Welcome, My Love</h1>
		</div>
	</body>
</html>