---
const loveNotes = [
    {
        date: "January 2, 2025",
        message: "The first day we texted each other on Instagram. That is as memorable as ever, because what if we never met? What if you never found me? Especially in this desolate world full of lost hope."
    },
    {
        date: "January 12, 2025",
        message: "The day we made it official... funny enough I was scared. I was scared to open myself up even though by that time we had known each other for a few weeks."
    },
    {
        date: "Feburary 3, 2025",
        message: "This day is especially special since you gave me the greatest gift I could ever recieve; you're love and affection. You are and will forever will be the best person to ever have graced me with their presence, time, and patience."
    },
    {
        date: "Feburary 4, 2025",
        message: "A very scary day for the both of us. It will be forever memorable in both good an bad ways. It was truly a challenge for my loyalty for this relationship. It could've ended with me leaving because I couldn't handle not seeing you, but those are just negative thoughts that will never happen and won't ever."
    },
    {
        date: "Feburary 12, 2025",
        message: "That same day, other than our anniversary, we celebrated in different ways that you got out from that crazy place. I was scared, worried, and so many other emotions I can't put them into words. But, what was the greatest part of that day, was that we were able to celebrate our anniversary as well. Along with that, I hope for so many more anniversaries, celebrations, etc., just anything that has you in my life is amazing to know."
    },
    {
        date: "Feburary 14, 2025",
        message: "Wow.. The first Valentines Day I actually have a boyfriend to spend it with. I am so happy to be able to call you mine, as you are able to with me. I’m not going to lie, I am still scared, worried, and paranoid about many things but I’m not going to let them affect me. This day is & will commemorate all the time we will spend now and in the future, which I am so excited to build that with you."
    },
    {
        date: "March 4, 2025",
        message: "Oh. I was not expecting this. So close yet so far from being together for 2 months, but we broke up for what? I'm still not sure. I don't know if it was my fault or if it was because of something else, but it sucks. Sucks to be without you. Sucks knowing I'm now alone. Looking back on these little messages I made, we were so filled with love and compassion for each other, but then a switch flipped. When? It's unknown. But I'll always be here, waiting, sitting, and contemplating when we will talk. I will never expect for us to be the same, I will never think it will all be like how it was, nor do I expect us to even get back together. I just wish to talk to you. No matter how short or long it is, I wish to hear your voice. You may not even re-read this again in your entire lifetime, but if you do, just know I loved you despite the drama I created. I love you even now. But it seems like you never loved me, like I was just some play thing. Haha, thats really cruel to say, huh? But anyways, I will be here, forever."
    }
]
---

<div class="diary-container">
    {loveNotes.map(note => (
        <div class="entry">
            <h3>{note.date}</h3>
            <p>{note.message}</p>
        </div>
    ))}
</div>
