---
const songUrl = "../../music/a-night-to-remember.mp3";
import HomeJS from "@/other/HomeJS.astro";
---

<div class="music-container">
    <button id="playBtn">▶ Play</button>
    <button id="pauseBtn">⏸ Pause</button>
    <audio id="background">
        <source src={songUrl} type="audio/mp3" />
        Your browser does not support the audio element.
    </audio>
    <HomeJS />
</div>