body {
    background-color: #ffc0cb;
    text-align: center;
}

.ooo {
    font-family: "Merriweather", serif;
    font-weight: bolder;
    font-style: normal;
}

.container {
    margin-top: 20vh;
}
input {
    padding: 10px;
    border: none;
}

h1.ooo {
    font-size: 30px;
}

p.ooo {
    font-size: 25px;
}